<%- include('includes/head.ejs') %>
</head>
<body>
    <%if (employee.length > 0) {%>
    <div class="holder">
        <% for (let e of employee) { %>
        <h1> Employee of the month</h1>
        <div class="avatar">
            <a href="/edit-employee/<%= e.name %>?edit=true">
                <img src="<%= e.imgURL %>" class="user"/>
            </a>
        </div>
        <p>name</p>
        <h1><%= e.name %></h1>
        <p>achievement</p>
        <h1><%= e.achievement %></h1>
    </div>
    <% } %>
    <% } %>
<%- include('includes/end.ejs') %>    